.container {
    // width: var(--default-layout-width, 1150px);
    // max-width: 100%;
    // min-height: 1000px;
    // background-color: #333;
    // display: flex;
    // flex: 1 1 auto;
    // padding: 0 var(--default-layout-horizontal-spacer);

    // margin: 0px auto;
    // width: 1100px;
    // padding-top: 16px;
    // padding-bottom: 16px;
    margin-top: 60px;
    // background-color: aqua;
}

.content {
    margin: 0px auto;
    width: 1100px;
    padding-top: 16px;
    padding-bottom: 16px;
    // background-color: aqua;
}
